$purple:            #4B2D83;
$gold-metallic:     #85754d;
$gold-medium:       #B7A57A;
$gold-light:        #E8E3D3;

$blue:              #0074BB; // For hyperlinks

$gray-light:        #EBEBEB;
$gray-medium:       #CCCCCC; // For hairlines
$gray-dark:         #757575;

$white:             #FFFFFF;
$black:             #3D3D3D;

$primary: $purple;
$secondary: $gold-metallic;

$border-radius: 6px;
$headings-font-family: 'Encode Sans Condensed', sans-serif;