.single-resource {

  article{
    margin-top: 3.5rem;
    margin-bottom: 1.7rem;
  }

  .entry-content {
    line-height: 1.76;

    p:not(:last-of-type) {
      margin-bottom: 1.2rem;
    }
  }

  .entry-title {
    font-size: 2.176rem;
    line-height: 1.3;
    text-transform: none;
  }
}