.full-bleed {
	margin-left: -100%;
	padding-left: 100%;
	margin-right: -100%;
	padding-right: 100%;
}

.uw-breadcrumbs {
	a, 
	span {		
		font-size: .882rem;
		line-height: 1.467;
	} 

	li.current span {
		color: $purple;
	}
}

.wp-caption {
 	.wp-caption-text {
		color: $black;
		font-size: .882rem;
		line-height: 1.467;
	}
}
	


//
// Pretty Dropdown
// --------------------------------------------------
.prettydropdown {
	&.arrow>ul>li.selected {
		&:after {
			border-top-color: $primary;
		}
		&:before {
			border-top-color: $white;
		}		
	}
	> ul {
		background: $primary;
		border-color: $primary;
		border-radius: 0;
		color: $white;
		font: normal 1rem $font-family-base;				
		&.active {
			> li:not(.label):hover, 
			> li.hover:not(.label), 
			> li:first-child:hover:after {
				background: $gold-metallic;
				color: #fff;
			}
			> li.nohover {
				background: inherit !important;
				color: inherit !important;
			}
			> li.hover:before, 
			> li.nohover:after {
				border-top-color: #fff !important;
			}
			> li.hover:after, 
			> li.nohover:before {
				border-top-color: $gold-metallic !important;
			}
		}
		li {
			//transition: $transition-base;
		}
	}	
	> ul:focus, 
	&:not(.disabled) > ul:hover {
		border-color: $primary;
	}
	&:not(.disabled) > ul.active {
		border-color: $primary;
	}
	> ul > li {
		height: 48px;
		line-height: 46px;
	}			
} 

@media (max-width: 767px) {
	.navbar.white-bar ul.navbar-nav li.nav-item a.nav-link {
		padding: 0.5rem 10px;
	}	
}


.jumbotron.img-background .display-3 {
	@include media-breakpoint-down(sm) {
		font-size: 30px;
	}
}

.hero-height2 #hashtag span {
	@include media-breakpoint-down(sm) {
		font-size: 14px;
		padding-left: 18px;
	}
}