// Breadcrumbs
.uw-breadcrumbs {
	a, 
	span {		
		font-size: .882rem;
		line-height: 1.467;
	} 

	li.current span {
		color: $purple;
	}
}

// Caption	
.wp-caption {
 	.wp-caption-text {
		color: $black;
		font-size: .882rem;
		line-height: 1.467;
	}
}

// Text-style link
.card-body .text {
	.link {
		color: $gold-metallic;
		font-family: 'Encode Sans Compressed', sans-serif;
		font-size: 1.0589rem; 
		font-weight: 700;
		line-height: 1.222;
		text-transform: uppercase;

		&:hover {
			color: #675B3B;			
		}

		&:focus {
			outline-offset: 3px;
		}
	}
}

// Button
.button {
	.btn {
		&:focus {
			border-color: transparent !important;
			box-shadow: none !important;
			outline-offset: 3px;
		}

		&.gold:hover {
				span {
					background-color: #675B3B !important;
					border-color: #675B3B !important;
				}
			}

		span {
			border-radius: 4px;
			transition: $transition-base;
		}

		&.btn-lg {
			font-size: 1.059rem;
		}

		&.btn-outline {
			span {
				background-color: transparent;
				border: 2px solid;				
			}			

			&.white {
				span {
					border-color: $white;
					color: $white;
				}

				&:hover {
					span {
						background-color: $gold-metallic;
						color: $white;
					}
				}
			}
		}

		+ .btn {
			margin-left: .5rem;

			@include media-breakpoint-down(lg) {
				margin-left: 0;
				margin-top: 1rem;
			}
		}
	}
}

//
// Elementor
// --------------------------------------------------
.elementor-section {
	&.m-0 {
		margin-left: 8px!important;
    margin-right: 8px!important;
	}
}

//
// Pretty Dropdown
// --------------------------------------------------
.prettydropdown {
	&.arrow>ul>li.selected {
		&:after {
			border-top-color: $primary;
		}
		&:before {
			border-top-color: $white;
		}		
	}
	> ul {
		background: $primary;
		border-color: $primary;
		border-radius: 0;
		color: $white;
		font: normal 1rem $font-family-base;				
		&.active {
			> li:not(.label):hover, 
			> li.hover:not(.label), 
			> li:first-child:hover:after {
				background: $gold-metallic;
				color: #fff;
			}
			> li.nohover {
				background: inherit !important;
				color: inherit !important;
			}
			> li.hover:before, 
			> li.nohover:after {
				border-top-color: #fff !important;
			}
			> li.hover:after, 
			> li.nohover:before {
				border-top-color: $gold-metallic !important;
			}
		}
		li {
			//transition: $transition-base;
		}
	}	
	> ul:focus, 
	&:not(.disabled) > ul:hover {
		border-color: $primary;
	}
	&:not(.disabled) > ul.active {
		border-color: $primary;
	}
	> ul > li {
		height: 48px;
		line-height: 46px;
	}			
} 


//
// Hide elements from parent theme
// --------------------------------------------------

// Arrow Box
.button {
	.arrow-box {
		display: none !important;
	}
}

// Slant divider
.udub-slant-divider {
	display: none !important;
}

// Slant pattern
.slant-pattern {
	display: none !important;
}