//
// Vendor styles
// --------------------------------------------------
@import "src/sass/bootstrap4/functions";
@import "src/sass/bootstrap4/variables";
@import "src/sass/bootstrap4/mixins/_breakpoints";
@import "src/sass/prettydropdowns";


//
// Custom styles
// --------------------------------------------------
@import "src/sass/custom-variables";
@import "src/sass/selectors";
@import "src/sass/utilities";
// @import "src/sass/events";
// @import "src/sass/team"; 
// @import "src/sass/single-event";


//
// Header
// --------------------------------------------------
header.site-header {

  // Wordmark
  div.navbar .site-branding .uw-wordmark {
    background: transparent url(assets/images/SSW_UW_wordmark.png) no-repeat scroll left center;
    background-size: contain;
    height: 90px;
    left: 20px;
    transform: none;

    @include media-breakpoint-down(lg) {
      height: 40px;
      left: 10px;
      width: 240px;
    }

    @include media-breakpoint-down(sm) {
      height: 30px;  
      width: 170px;
    }
  }
}


//
// Footer
// --------------------------------------------------
footer.site-footer {
  background-image:  url(assets/images/SSW_UW_footer.jpg);
  margin-top: 2rem;

  // Wordmark
  .footer-wordmark {
    background: transparent url(assets/images/SSW_UW_wordmark_centered.png) no-repeat scroll left center;
    background-size: contain;
    height: 90px;
    left: 20px;
    transform: none;

    &:hover {
      background: transparent url(assets/images/SSW_UW_wordmark_centered.png) no-repeat scroll left center;
      background-size: contain;
      height: 90px;
      left: 20px;
      transform: none;
    }
  }

  // Social
  .footer-social {
    transform: translateX(-12px);
  }
} 

// Accordion
.accordion {
  >.card {
    &:first-of-type {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  .card {
    border: none;
    margin-bottom: 3px;

    .card-header {
      background-color: $gray-light;
      border-bottom: none;

      h3 button {
        font-size: 1.471rem;
        font-weight: 700;
        line-height: 1.252;
        
        span.btn-text {
          padding: 1.5rem;
        }
      }
    }
  } 

  + p {
    display: none;
  }
} 

// Card
.card {
  border-radius: $border-radius;

  .card-body {
    padding-left: 1.7rem;
    padding-right: 1.7rem;

    h2 {
      font-weight: 800;
      font-size: 1.471rem;
      font-style: normal;
      line-height: 1.25;
      margin-bottom: 0.7rem !important;
    }

    .card-img {
      margin-bottom: 1.5rem;
    }

    .card-content {
      font-size: 1rem;
      line-height: 1.4706;     
    }

    .button {
      margin-top: 0.7rem;

      .btn.white {
        &:focus {
          outline-color: $white;
        }

        &:hover {
          span {
            background-color: $gold-light;
            color: $black;
          }
        }

        span {
          color: $gold-metallic;
        }
      }
    }

    .link {
      &.white {
        &:hover {
          color: $gold-light;
        }

        &:focus {
          outline-color: $white;
        }
      }
    }
  }

  // No image 
  &.no-image {
    .text {
      margin-bottom: 0;
    }
  }

  // Image Top
  &.image-top {
    .card-body {
      padding-bottom: 1rem;

      .card-content,
      .card-title,
      p.button,
      .text {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      p.button {
        margin-bottom: 1rem;
      }
    }

    
  }

  // White card
  &.image-top.white, 
  &.inset.white, 
  &.no-image.white {
    border-color: #CCC;
    border-radius: $border-radius;
  }
}

// Gallery 
.elementor-widget-text-editor .carousel {

  &:hover {
    .carousel-control-prev,
    .carousel-control-next {
      background-color: transparent;
    }
  }
  img {
    border-radius: $border-radius;
  }
  
  .carousel-inner {
    padding-bottom: 5rem;

    + p {
      position: relative;
    }
  }

  .carousel-caption {
    border-radius: $border-radius;
    bottom: -5rem;
    left: 4rem;
    width: 600px !important;
  }

  .carousel-control-next,
  .carousel-control-prev {
    bottom: 0.5rem;
    height: 3rem;
    text-decoration: none;
    top: auto;
    width: 3rem;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }
  }

  .carousel-control-prev {
    left: auto;
    right: 3rem;
  }

  .carousel-control-next {
    .carousel-control-next-icon {
      color: $purple;
    }
  }

  .carousel-control-prev {
    .carousel-control-prev-icon {
      color: $purple;
    }
  }
}

// Blockquote
figure.quote-block {
  background-color: $purple;
  border-radius: $border-radius;  

  // Simple
  &.quote-simple {
    div {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    blockquote {
      color: $white;
      font-weight: 400;
      position: relative;

      &:before,
      &:after {
        font-size: 5rem;
      }

      &:before {
        bottom: auto;
        position: absolute;
        top: -3rem;
      }

      &:after {
        bottom: -6rem;
        left: auto;
        position: absolute;
        right: 0;
      }

      p {
        color: $white;
        margin-left: 6rem;
        margin-right: 4rem;
      }
    }

    div figcaption {
      color: $white;
      margin-left: 6rem;
      text-align: left;
  
      .quote-source-title {
        font-style: normal;
      }
    }
  } 


  
}

