//
// Vendor styles
// --------------------------------------------------
@import "src/sass/bootstrap4/functions";
@import "src/sass/bootstrap4/variables";
@import "src/sass/bootstrap4/mixins/_breakpoints";
@import "src/sass/prettydropdowns";


//
// Custom styles
// --------------------------------------------------
// @import "custom-variables";
// @import "utilities";
// @import "events";
// @import "team";
// @import "single-event";


//
// Header
// --------------------------------------------------
header.site-header {

  // Wordmark
  div.navbar .site-branding .uw-wordmark {
    background: transparent url(assets/images/SSW_UW_wordmark.png) no-repeat scroll left center;
    background-size: contain;
    height: 90px;
    left: 20px;
    transform: none;

    @include media-breakpoint-down(lg) {
      height: 40px;
      left: 10px;
      width: 240px;
    }

    @include media-breakpoint-down(sm) {
      height: 30px;  
      width: 170px;
    }
  }
}


//
// Footer
// --------------------------------------------------
footer.site-footer {
  background-image:  url(assets/images/SSW_UW_footer.jpg);

  // Wordmark
  .footer-wordmark {
    background: transparent url(assets/images/SSW_UW_wordmark_centered.png) no-repeat scroll left center;
    background-size: contain;
    height: 90px;
    left: 20px;
    transform: none;

    &:hover {
      background: transparent url(assets/images/SSW_UW_wordmark_centered.png) no-repeat scroll left center;
      background-size: contain;
      height: 90px;
      left: 20px;
      transform: none;
    }
  }

  // Social
  .footer-social {
    transform: translateX(-12px);
  }
} 