//
// Accordion
// --------------------------------------------------

.accordion {
  @include media-breakpoint-down(md) {
    margin-top: 1rem;
  }

  ul {
    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
  }
  

  >.card {
    &:first-of-type {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  .card {
    border: none;
    margin-bottom: 3px;

    .card-header {
      background-color: $gray-light;
      border-bottom: none;

      h3 button {
        font-size: 1.471rem;
        font-weight: 700;
        line-height: 1.252;
        
        span.btn-text {
          padding: 1.5rem;

          @include media-breakpoint-down(md) {
            font-size: 1.2rem;
            padding: 1rem;
          }
          
        }
      }
    }
  } 

  + p {
    display: none;
  }
} 