//
// Resources
// --------------------------------------------------

  //
	// Featured/Sticky Resource
	// --------------------------------------------------
	
	.sticky-article {
		background-color: $light;
		padding-top: 3rem;
		padding-bottom: 3rem;		
		.superheading {
			margin-bottom: 0.5rem;
		}
		.text {
			margin-bottom: 1rem;
		}
		
		&.job {
			.buttons {
				@include media-breakpoint-down(lg) {
					margin-bottom: 2rem;
				}
			}
			.excerpt {
				padding-right: 2rem;
				@include media-breakpoint-down(md) {
					padding-right: 0;
				}
			}
			.entry-meta {
				ul {
					list-style: none;
					padding-left: 0;
					li:not(:last-child) {
						margin-bottom: 0.3rem;
					}
				}
			}
		}
	}
	
	//
	// Filters
	// --------------------------------------------------
	
	.filter-wrapper {		
		padding: 0 0 3rem;
		.filter {
			@include media-breakpoint-down(sm) {
				margin-bottom: 1rem;
			}
		}
		.label {
			font-weight: 700;
			margin-bottom: 0.5rem;	
		}
		input.submit {
			background-color: $gold-metallic;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19' viewBox='0 0 20 19' fill='none'%3E%3Cpath d='M19.9609 16.6106L15.0738 11.8891C15.935 10.7035 16.4424 9.26845 16.4424 7.72159C16.4424 3.66587 12.9695 0.365234 8.70122 0.365234C4.43296 0.365234 0.960938 3.66587 0.960938 7.72159C0.960938 11.7773 4.43384 15.0779 8.70122 15.0779C10.3929 15.0779 11.9538 14.554 13.2285 13.6754L18.0831 18.3644L19.9609 16.609V16.6106ZM8.70122 12.5758C5.88498 12.5758 3.59458 10.3981 3.59458 7.72242C3.59458 5.0467 5.88586 2.86908 8.70122 2.86908C11.5166 2.86908 13.8079 5.0467 13.8079 7.72242C13.8079 10.3981 11.5166 12.5758 8.70122 12.5758Z' fill='white'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
			border-bottom-right-radius: $border-radius;
			border-top-right-radius: $border-radius;
			color: $white;
			border: none;
			height: 100%;
			transition: $transition-base;
			width: 3rem;
			&:hover {
				background-color: $purple;
			}
		}
		.col-search {
      @include media-breakpoint-down(sm) {
        margin-top: 1rem;  
      }

      .label {
        display: none;
      }

      .search-query {
        border-bottom-left-radius: $border-radius !important;
			  border-top-left-radius: $border-radius !important;
        font-family: $headings-font-family; 
        font-size: 1.059rem;
        font-weight: 600;
        height: 48px;
        padding-left: 1rem;
      }


		}
		.clear-filters {
			cursor: pointer;
			margin-top: 1rem;
			@include media-breakpoint-down(sm) {
				margin-top: 0;
			}
			&:hover {
				color: $link-hover-color;
			}
		}
	}
	
	
	//
	// List / Grid
	// --------------------------------------------------
	
	.list-wrapper {
		padding: 0 0 3rem;
		
		article {
			padding: 1rem;
		}
		
		&.layout-list {
			article {
				background: $white;
        border: 1px solid #CCCCCC;
				border-radius: $border-radius;
			}
		}
		
		&.layout-grid {
			article {
				background: $white;
				border-radius: $border-radius;
        border: 1px solid #CCCCCC;
				.featured-image {
					margin-bottom: 1rem;
				}
			}
		}
		
		.featured-image {
			img {
				width: 100%;
			}
		}
		
		.taxonomies {
			font-size: .9rem;
			margin-bottom: 0.75rem;
		}
		
		article {			
//			height: calc( 100% - 4rem );
			margin-bottom: 0.6rem;
      margin-top: 0;		
			> a {
				color: inherit;
				display: block;
				padding: 2rem;
				text-decoration: none !important;
				@include media-breakpoint-down(sm) {
					padding: 1rem;
				}
				&:hover {
					outline: 8px solid $primary;
				}
			}
			.title {
				//margin-top: 0.75rem;
        
        h3 {
          font-weight: 800;
          margin-top: 0;

          a {
            color: $purple;
            text-decoration: none !important;

            &:hover {
              color: $gold-metallic;
            }
          }
        }
			}						
			.date,
			.posted-on {
				font-weight: $font-weight-bold;
			}
			.topic {
				font-weight: $font-weight-bold;
				text-align: right;
			}
			.type {
				font-style: italic;
			}
			.text {
				margin-top: 1rem;
			}
			
			// Publication
			// ----------------------------------------------
			&.resource {
        padding: 1.5rem 1.5rem 1.5rem 2rem;
        
				.authors {
          br {
            display: none;
          }
        }

        .publication-name {
          margin-bottom: 0;

          strong + br {
            display: none;
          }
        }

        ul.access {
          list-style: none;
          margin-left: 0;
          padding-left: 0;

          @include media-breakpoint-down(sm) {
            margin-top: 1rem;
          }

          li:not(:last-child) {
            margin-bottom: 1.1rem;
          }
        }
			}
		}
				
    &#team-list-wrapper {
      .thumb {
        display: block;
				margin-bottom: 0.5rem;
				position: relative;

        img {
          width: 100%;
        }
			}

			.text {
				text-align: left;
				h3 {
					font-size: 1.5rem;
					font-weight: 700;
					margin-bottom: 0.25rem;
					margin-top: 0;
				}
				p {
          color: $purple;
					font-size: 1.1rem;
					font-weight: 700;
					line-height: 1.5;
					&.title {
						margin-bottom: 0.2rem;
					}
				}
				.pronouns {
					font-style: italic;
					font-weight: normal;
					margin-top: -0.75rem;
					text-transform: none;
				}
        .additional-affiliations,
        .degrees,
        .email,
        .phone,
        .room {
          color: $black;
          font-size: 0.882rem;
          font-weight: 400;
          line-height: 1.5;
          margin-bottom: 0.75rem;

          br {
            display: none;
          }

          svg {
            margin-right: .5rem;
            width: 1.5rem;
          }
        }

        .email,
        .phone {
          margin-bottom: .5rem;
        }
			}
    }
  
  }
	
	
	//
	// Pagination
	// --------------------------------------------------
	.pagination-row {
    display: flex;
		justify-content: center;
    margin-top: 2rem;
		width: 100%;
		.btn {
			background-image: none;
			padding-right: $btn-padding-x;
		}
	
		.pagination {
			display: flex;

			.page-numbers {
				font-family: $font-family-base;
				font-size: 1.1rem;
				font-weight: 700;
				position: relative;
				display: block;
				padding: .5rem .75rem;
				margin-left: -1px;
				line-height: 1.25;
				color: #dddddd;
				background-color: transparent;
				border: 1px solid #dddddd;
				text-decoration: none;
				text-transform: uppercase;
				&:hover {
					background-color: darken( $primary, 10% );
				}

        // &:first-of-type {
        //   border-top-left-radius: $border-radius;
        //   border-bottom-left-radius: $border-radius;
        // }
			}
			.current {
				background-color: $gold-metallic;
				&:hover {
					background-color: $gold-metallic;
				}
			}
			.dots:hover {
				background: $secondary;
			}
		}
	}


  //
	// Spinner
	// --------------------------------------------------
  .spinner-row {
    display: none;
    height: 3rem;
    margin-top: 0;
    margin-bottom: 3rem;
    &.visible {
      display: block;
    }
    .icon-spinner-circle {
      background: url(assets/svg/spinner.svg) no-repeat center;
      background-size: cover;
      margin: 0 auto;
      height: 2rem;
      width: 2rem;	
    }
  }


  //
	// Not Found & Results Found
	// --------------------------------------------------
  .not-found,
  .results-found {
    margin-bottom: 2.2rem;

    .inner {
      background-color: #ebebeb;    
      border-radius: $border-radius;  
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      padding: 1rem 1.5rem;
      text-align: left;

      p {
        font-size: 0.882rem;
        margin-bottom: 0;
      }
    }
  }

  //
	// Clear search
	// --------------------------------------------------
  .clear-filters {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 0.882rem;

    &:hover {
      p {
        color: $purple;
      }

      svg {
        #clear-filters-button-background {
          fill: $purple;
        }
      }
    }

    svg {
      margin-right: 0.5rem;
      
    }
  }